<p>Hi {{name}} {{surname}},</p>
<p>You can complete registration now.</p>
<p>Click the button below to proceed with registration.</p>
<p>
  <a
    href='{{url}}'
    style='padding:5px;text-decoration:none; border-radius:5px; background-color:black; color:white; font-weight:bold;'
  >COMPLETE REGISTRATION</a>

</p>
<p>This registration link is only valid for the next 24 hours</p>
<p>If did not request this email you can safely ignore it.</p>
